# Archivos grandes (tu problema actual)
machine-learning/mercado-libre/train_data.jsonlines
machine-learning/mercado-libre/test_data.jsonlines

# Ignorar todos los archivos grandes de ese tipo (opcional pero recomendable)
*.jsonlines

# Credenciales
.env
service_account.json

# Python basura
__pycache__/
*.pyc